<section id="info-end">
    
    <button type="button" class="btn" data-toggle="modal" data-target="#exampleModal">
        -- Informace o DIS ---
    </button>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Základní informace o stránce DIS</h5>
        
        </div>
        <div class="modal-body">
        <p>DIS stojí pro Docházkový Informační Systém</p> 
        <p>Tedy neupravuje ani nijak jinak nemění Vaši docházku.</p>
        <p>Tzn. Pouze data která vytvoří Sys předělá do hezčího a přehlednějšího formátu</p>
        <p>Data nelze nijak upravovat ani přepisovat</p>
        <p>Veškeré informace jsou zpracovány uvnitř firmy FPC s.r.o.</p>
        <hr>
        <p>created by Dominik Sauer</p>
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        
        </div>
    </div>
    </div>
</div>
        


</section>

<footer class="footer">  Copyright © 2021 </footer>

